@page "/"

<PageTitle>Index</PageTitle>

<button @onclick="MoveDown">Down</button>
<input
value="@UserInput" @oninput="@((ChangeEventArgs e) => UserInput = e.Value.ToString())"
 />

<table class="table border text-center">
@foreach(var row in grid.Grid)
{
  <tr class="border">
  @foreach(var cell in row)
  {
    <td class="border">
    @cell
    </td> 
  }
  </tr>
}
</table>
@code
{
  private string _userInput = "";
  public string UserInput 
  {
    get {return _userInput;}
    set {
      Console.WriteLine(value);
      _userInput = value;
    }
  }
  public GameGrid grid {get; set;}
  public Index()
  {
    grid = new GameGrid();
  }
  public void MoveDown()
  {
    grid.MoveDirection(GameGrid.Direction.Down);
    this.StateHasChanged();
  }
}